<a href="{{ site.baseurl }}/" 
  class="site-title fixed bg-blue p1 no-line-height top-0 left-0 z4"
>
    {% include chowdown-logo-white.svg %}
</a>

<a href="{{ site.baseurl }}/search"
  class="fixed white bg-blue p1 no-line-height left-0 z4"
  style="top:60px;"
>
  <svg class="js-geomicon geomicon" width="40" data-icon="search" viewBox="0 0 32 32" style="fill:currentcolor"><title>Search</title><path d="M12 0 A12 12 0 0 0 0 12 A12 12 0 0 0 12 24 A12 12 0 0 0 18.5 22.25 L28 32 L32 28 L22.25 18.5 A12 12 0 0 0 24 12 A12 12 0 0 0 12 0 M12 4 A8 8 0 0 1 12 20 A8 8 0 0 1 12 4"></path></svg>
</a>

<a href="{{ site.baseurl }}/tags"
  class="fixed white bg-blue p1 no-line-height left-0 z4"
  style="top:120px;"
>
  <svg class="js-geomicon geomicon" width="40" data-icon="tag" viewBox="0 0 32 32" style="fill:currentcolor"><title>Tags</title><path d="M0 18 L16 2 L29 3 L30 16 L14 32 z M20 9 A3 3 0 0 0 26 9 A3 3 0 0 0 20 9"></path></svg>
</a>
